@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
        font-family: "funnel";
        src: local("Funnel-Display"),
        url("./assets/Funnel-Display.ttf")format("truetype")
    }
    @font-face {
        font-family: "inter";
        src: local("Inter-Variable"),
        url("./assets/Inter-Variable.ttf")format("truetype");
    }

